.photo-field {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    border: 2px solid #ededed;
    border-radius: 10px;
    position: relative;
}

.photo-field__placeholder-wrapper {
    width: 100%;
    height: 100%;
}

.image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
}

.image__buttons {
    display: flex;
    justify-content: center;
}
