.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    height: 72px;
    width: 100%;
}

.head__title {
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90vw;
}

.head__left {
    display: flex;
    align-items: center;
}
