.slider {
    background-color: #fff;
}

.slider__container {
    display: flex;
    align-items: center;
}

.slider__description {
    width: 100%;
}

.img-container {
    width: 85vw;
    height: 70vh;
}

.accordion-details {
    justify-content: space-between;
    align-items: center;
}
