.slider {
    background-color: #fff;
}

.slider__container {
    display: flex;
    align-items: center;
}

.slider__description {
    width: 716px;
}

.img {
    margin: 10px;
}

.accordion-details {
    justify-content: space-between;
    align-items: center;
}
